#experiencia .titulo-section {
  color: var(--c3, #e0e0e0);
  word-break: break-all;
  max-width: 4ch;
}

#experiencia .introducao-section {
  color: var(--c10, #525252);
  margin-bottom: 60px;
}

#experiencia .introducao-section strong {
  color: var(--c13, #141414);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: var(--c1, #f5f5f5);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 20px;
  top: 20px;
  left: -4px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
}

.empresa-nome {
  grid-column: 1;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  background: var(--w, #ffffff);
  border-radius: 4px;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  #experiencia .titulo-section {
    color: var(--c13);
    max-width: initial;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
