body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  color: var(--c13);
}

.menu a {
  color: var(--c13);
  font-family: "Fira Sans";
  font-size: 1.125rem;
  line-height: 1.3;
}

.titulo-principal {
  color: var(--c13);
  font-family: "Fira Sans";
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.125;
}

.subtitulo-principal {
  color: var(--c10);
  font-family: "Fira Sans";
  font-size: 1.5rem;
}

.titulo-section {
  font-family: "Fira Sans";
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.introducao-section {
  font-family: "Fira Sans";
  font-size: 1.5rem;
  max-width: 40ch;
  line-height: 1.33;
}

.empresa-ano,
.empresa-texto {
  color: var(--c10);
  font-family: "Fira Sans";
  font-size: 0.875rem;
  line-height: 1.4;
}

.empresa-nome,
.empresa-cargo {
  color: var(--b);
  font-family: "Fira Sans";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1;
}

.empresa-habilidades li {
  color: var(--c13);
  font-family: "Fira Sans";
  font-size: 0.875rem;
  line-height: 1.4;
}

.faculdade-tipo {
  color: var(--c6);
  font-family: "Fira Sans";
  font-size: 0.875rem;
  text-transform: uppercase;
}

.faculdade-curso {
  color: var(--w);
  font-family: "Fira Sans";
  font-size: 1.125rem;
  line-height: 1.4;
}

.faculdade-instituicao {
  color: var(--c6);
  font-family: "Fira Sans";
  font-size: 1.125rem;
}

.extra-titulo,
.idiomas-titulo {
  color: var(--c7);
  font-family: "Fira Sans";
  font-size: 0.875rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.extra-lista li,
.idiomas-lista li {
  color: var(--w);
  font-family: "Fira Sans";
  font-size: 1.125rem;
  line-height: 1.1;
}

.extra-lista span,
.idiomas-lista span {
  color: var(--c7);
  font-family: "Fira Sans";
  font-size: 1.125rem;
}

.footer-texto {
  color: var(--c4);
  font-family: "Fira Sans";
  font-size: 1.5rem;
  line-height: 1.33;
}

.contato-lista a {
  color: var(--w);
  font-family: "Fira Sans";
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1;
}

.footer-copy {
  color: var(--c7);
  font-family: "Fira Sans";
  font-size: 1.125rem;
}

@media (max-width: 800px) {
  .titulo-section {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
  .introducao-section {
    font-size: 1.25rem;
  }
}
