img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

@media (max-width: 800px) {
  .container {
    padding: 40px 20px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 20px 10px;
  }
}
