.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.menu a {
  padding: 10px 20px;
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .menu a {
    border-radius: 4px;
    background: var(--c1, #f5f5f5);
  }
}
